@import 'tailwindcss';

@theme {
  --color-warm-red: #d14124;
  --color-warm-red-h: #a03f40;
  --color-red-1: #dc573c;
  --color-maroon: #8a2a2b;
  --color-c-beige: #ede5d2;
  --color-c-brass: #b47e00;
  --color-c-white: #f4f2ec;

  --font-sb: 'Squad-Bold';
  --font-sh: 'Squad-Heavy';

  --color-first: #d1f7c4;
  --color-second: #ffe2e2;
  --color-third: #d6eeff;
  --color-fourth: #f6b980;
  --color-winner: #ffd66b;
}

@font-face {
  font-family: 'Squad-Heavy';
  src: url('./font/Fontfabric-Squad-Heavy.woff2');
}
@font-face {
  font-family: 'Squad-Bold';
  src: url('./font/Fontfabric-Squad-Bold.woff2');
}

body {
  font-family: 'Squad-Bold';
  background: #ede5d2;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader:before {
  content: 'Loading...';
}
@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
